[Desktop Entry]
Type=Application
Name=pkgfind
GenericName=Package Search
Comment=Search Flatpak, Fedora RPM, Homebrew and distrobox containers at once
Exec=__EXEC__
Icon=system-search
Terminal=false
Categories=System;PackageManager;
Keywords=package;install;software;flatpak;rpm;ostree;brew;homebrew;distrobox;search;
StartupNotify=true
